<header id="options">
  <div class="input-field">
    <label for="category">Categoria: </label>
    <select name="category" id="category">
      <option value="" selected disabled hidden>Selecione uma opção</option>
    </select>
  </div>
  <div class="input-field">
    <label for="product">Produto: </label>
    <select name="product" id="product">
      <option value="" selected disabled hidden>Selecione uma opção</option>
    </select>
  </div>
  <div class="input-field">
    <label for="brand">Marca: </label>
    <select name="brand" id="brand">
      <option value="" selected disabled hidden>Selecione uma opção</option>
    </select>
  </div>
</header>
<article id="sales-graph" class="vertical">
  <div class="horizontal">
    <div class="vertical" id="graph-y">

    </div>
    <div id="graph-columns">

    </div>
  </div>
  <div class="horizontal" id="graph-x"></div>
</article>